/* Reset CSS section*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;

}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Main CSS*/
:root {

    /* Colors: */
    --white: #FFFFFF;
    --dark-background: #192125;
    --blue-grey-lighten-5: #ECEFF1;
    --blue-grey-lighten-4: #CFD8DC;
    --blue-grey-lighten-3: #B0BEC5;
    --blue-grey-lighten-2: #90A4AE;
    --blue-grey-lighten-1: #78909C;
    --blue-grey: #607D8B;
    --blue-grey-darken-1: #546E7A;
    --blue-grey-darken-2: #455A64;
    --blue-grey-darken-3: #37474F;
    --blue-grey-darken-4: #263238;
    }


* {
  box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: var(--white);
    background-color: var(--blue-grey-darken-4);
}

p {
    line-height: 1.3rem;
    font-size: 14px;
}

h1 {
    font-size: 30px;
    font-weight: 600;
}

h2 {
    font-size: 25px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

h4 {
    font-size: 15px;
    font-weight: 600;
}

a {
    color: var(--white);
}

a:visited {
    color: var(--white);
}

.fadein img {
    opacity: 0.5;
    transition: 1s ease;
}

.fadein img:hover {
    opacity: 1;
    transition: 1s ease;
}


.main-container {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: repeat(2, 1fr);
    height: 1vh;
}

.left-sidebar {
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: var(--blue-grey-darken-3);
    padding: 3rem;
    text-align: center;
}

.left-sidebar h1 {
    padding-bottom: 3rem;
}

.left-sidebar li {
    text-align: left;
    padding-bottom: 1rem;
}

.favorite {
    font-weight: 600;
    padding-left: 10px;
}

.header {
    display: grid;
    grid-template-columns: 10% 20% 40% 30%;
    grid-column: 2/4;
    background-color: var(--dark-background);
    padding: 40px 80px 20px 80px;
}

.header > .status {
    display: grid;
    padding-left: 30px;
    border-left: white;
    border-style: solid;
    align-items: center;
}

.header h2 {
    padding-right: 30px;
}

.header h2, img {
    display: grid;
    align-content: center;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.project-col {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.project-image img {
    background-color: #353535;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.project-description {
    background-color: var(--blue-grey-darken-3);
    padding: 2rem;
    display: grid;
    justify-items: center;
    align-items: center;
}

.project-description h3 {
    padding-bottom: 10px;
}

.card-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 20px;
}

.right-sidebar {
    display: grid;
    gap: 1rem;
}

.right-sidebar div {
    background-color: var(--blue-grey-darken-3);
    padding: 1.5rem;
}

.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tool-logos {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.curriculum-link {
    padding: 1.5rem;
}

.contact h3 {
    text-align: center;
}

.contact p {
    padding: 20px 0 20px 0;
}

.contact-logos {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
}

.profile-pic {
    width: 100%;
    filter: saturate(0.5);
}

footer {
    background-color: var(--dark-background);
    grid-column: 2/4;
    text-align: center;
    padding: 10px 0 10px 0;

}