/* Reset CSS section*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;

}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Main CSS*/
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

p {
    line-height: 1.3rem;
    font-size: 14px;
}

h1 {
    font-size: 30px;
    font-weight: 600;
}

h2 {
    font-size: 25px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

a {
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}



.main-container {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: repeat(3, 1fr);
    height: 1vh;
}

.left-sidebar {
    grid-column: 1/2;
    grid-row: 1/7;
    background-color: #37474F;
    padding: 3rem;
    text-align: center;
}

.left-sidebar h1 {
    padding-bottom: 3rem;
}

.left-sidebar button {
    background-color: #546E7A;
    color: #FFFFFF;
    border: none;
    font-weight: 600;
    width: 100%;
    height: 35px;
    margin: 10px;
}

.header {
    display: grid;
    grid-template-columns: 10% 20% 40% 30%;
    grid-column: 2/4;
    background-color: #455A64;
    padding: 40px 80px 20px 80px;
}

.header h2, p, img {
    display: grid;
    align-content: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.project-col {
    grid-column: span 2;
    display: flex;
}

.project-description {
    background-color: #37474F;
    padding: 2rem;
    display: grid;
    justify-items: center;
    align-items: center;
}

.project-description h3 {
    padding-bottom: 10px;
}

.card-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 20px;
}

.right-sidebar {
    display: grid;
    gap: 1rem;
    grid-column: 5/6;
    grid-row: 1/4;
}

.right-sidebar div {
    background-color: #455A64;
    padding: 1.5rem;
}

.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.tool-logos {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contact h3 {
    text-align: center;
}

.contact p {
    padding: 20px 0 20px 0;
}

.contact-logos {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
}

footer {
    background-color: #263238;
    grid-column: 1/4;
    text-align: center;
    padding: 10px 0 10px 0;

}